---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-dns-pihole
  namespace: external-dns-pihole
  labels:
    app.kubernetes.io/name: pihole
    app.kubernetes.io/instance: external-dns-pihole
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: pihole
      app.kubernetes.io/instance: external-dns-pihole
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: pihole
        app.kubernetes.io/instance: external-dns-pihole
    spec:
      serviceAccountName: external-dns-pihole
      securityContext:
        fsGroup: 65534
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: external-dns
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsGroup: 65532
            runAsNonRoot: true
            runAsUser: 65532
          image: registry.k8s.io/external-dns/external-dns:v0.20.0
          imagePullPolicy: IfNotPresent
          env:
            - name: EXTERNAL_DNS_PIHOLE_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: password
                  name: pihole-admin
          args:
            - --log-level=debug
            - --log-format=text
            - --interval=1m
            - --source=service
            - --source=ingress
            - --policy=upsert-only
            - --registry=txt
            - --provider=pihole
            - --ingress-class=nginx-external
            - --ingress-class=nginx-internal
            - --pihole-server=http://pihole-web.pihole.svc
          ports:
            - name: http
              protocol: TCP
              containerPort: 7979
          livenessProbe:
            failureThreshold: 2
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 5
          readinessProbe:
            failureThreshold: 6
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 5
